<head>
  <title>nlp-git</title>
</head>



<body  style="width:90%; margin:auto;">


{{> navTitle}}

<div class="col-lg-12 jumbotron">


    <div class="font_page_font">

        <h1>Git with Natural Language</h1>
    </div>
    <br>
    <br>

    <div class="col-lg-12 panel">
        <div class="panel-body ">
            <div class="row">
                <div class="col-sm-12">
                    {{> nlpInput}}
                </div>
                <div class="col-sm-6">
                    {{> nlpResult}}

                </div>

                <div class="col-sm-6">
                    {{> nlpError}}

                </div>
            </div>

        </div>

        <br>
        <br>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="col-lg-12 panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    {{> localDirectory}}
                </div>
                <div class="col-sm-6">
                    {{> cmdResult}}
                </div>

                <div class="col-sm-6">
                    {{> cmdError}}
                </div>
            </div>

        </div>
    </div>
</div>


</body>


