<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Superman</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">


    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="jquery.min.js"></script>
    <script src="forms.js"></script>
</head>

<body style="width:90%; margin: 0 auto;">
<div class="row">
    <div class="col-lg-12">
        <div class="class='centered-text'">
            <h1 class="page-header">Superman</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Functions
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">

                        <form role="form">

                            {{> nlpInput}}
                            {{> nlpResult}}
                            {{> nlpError}}
                            {{> localDirectory}}
                        </form>
                    </div>
                    <div class="col-lg-6">
                        {{> cmdResult}}
                        {{> cmdError}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>


